:root {
  --compass-size: min(81.6vmin, calc((100vh - 90px - 2rem) * 0.85), calc((100vw - 2rem) * 0.85));
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

body {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  user-select: none;
  text-transform: unset; /* Unset global transform from Cordova */
  /* background:
    url('../img/aurora.svg') center/cover fixed no-repeat; */
  background:
    url('../img/bgoverlay.png') 0/32px fixed repeat,
    url('../img/aurora.svg') center/cover fixed no-repeat;
  /* background:
    url('../img/aurora1.png') center/cover fixed no-repeat; */
  background-blend-mode: overlay;
}

.container {
  /* Positioning and layout */
  position: relative;
  width: 100%;
  min-height: calc(100vh - 90px);
  height: auto;
  align-items: center;

  /* Typography */
  font-family: 'Gentium Book Basic', serif;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: white;
  text-align: center;
  text-shadow: 0 0 6px rgba(0, 0, 0, 1);
}

/* Hide Cordova thing? */
.app {
  display: none;
}
