main {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: var(--viewport-height);
}

main.main-screen {
  /* background:
    url('../img/oxford.svg') center/cover fixed no-repeat; */
  background:
    url('./img/bgoverlay.png') 0/32px fixed repeat,
    url('./img/oxford.svg') center/cover fixed no-repeat;
  /* background:
    url('../img/oxford1.png') center/cover fixed no-repeat; */
  background-blend-mode: overlay;
}
